body {
  font-family: "raleway", sans-serif; /*поключили доп шрифты*/
  color: #213053;
  margin: 0;
}

header {
display: flex; /*выравниваем по горизонтали маню и логотоип*/
justify-content: space-between; /*перемещаем контакты и заказать в право*/
align-items: center; /*центрируем*/
padding:20px;/*внутренний отступ */

}

.header_logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}

header a {
  font-size:15px;
  font-weight: 600;
  margin-right: 25px; /*отталкиваем ссылку справа*/
}

button {
  font-family: 'Raleway', sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;

}

/*задаем размеры картинкам*/
.about_sun-image {
width: 100px;
height: 100px;
}
.about_solar_panel-image {
  width: 500px;
}

/*Выравниваем картинки*/
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:115px ;
  padding-bottom: 115px;
  background: url("img/back.png") no-repeat;
  background-position: center;
  background-size: cover;
}

/*стилизуем селектор заголовка*/
.about h1 {
  font-size: 70px; /*размер шрифта*/
  line-height: 76px; /*высота строки*/
}
 /*далее ситилизуем абзац*/
.about p {
  font-size:18px;
  line-height: 30px;
  opacity: 0.8; /*прозрачность текста*/
}
 /*стилизуем кнопку*/
 .about button {
  font-size: 18px;
  border-radius: 20px;
  padding:20px 25px;
  margin-top: 20px;
 }
 /*меняем ширину с текстом*/
 .about_info {
  max-width: 550px;
 }
.form__container { /*добавили ширину формы*/
  width: 550px;
}
/*добавляем стили форме*/
.form {
  display: flex; /*выравниваем форму по центру*/
  justify-content: space-around;
  background-color: #1d263A;
  color:#fff;
  padding-top: 115px;
  padding-bottom:115px;
  text-align:center;
}
.form h1 {
  font-size: 48px;
}
.form p {
  font-size: 18px;
  opacity: 0.65;
}
/*присваиваем форме вертикальное размещение*/
 .form__group {
  display:flex;
  flex-direction:column;
  text-align: left;
}
/*применяем для формы свойство Grid */
.form form {
  display:grid;
  grid-gap:20px; /*устанавливаем промежуток между элементами*/
  margin-top:60px; /*делаем отступ сверху*/
}
/*стилизация текстовых меток*/
.form label {
  font-size:18px;
  font-weight: 600;
  padding-bottom:15px;
}
/*стилизация текстовых полей и вып меню*/
.form input {
font-size:18px;
color:#213053;
height: 60px;
padding:0 20px 0 20px;
border-radius: 15px;
border: none;
}
.form select {
 font-size:18px;
 color:#213053;
 height: 60px;
 padding:0 20px 0 20px;
 border-radius: 15px;
 border: none;
}
/*стилизация кнопки*/
.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top:40px;
}
/*убираем стрелочку селекта*/
select {
  appearance: none;
}
/*убираем стиль границы в поле ввода текста */
input {
  outline: none;
}
/*добавляем кнопке плавный переход и анимацию*/
.button__color:hover {
 background-color: #f6980c;
 box-shadow: 0 16px 36px rgba(246 152 12/20%);
 transition: background-color 0.3s ease-in;
}
/*стилизуем подвал сайта*/
footer {
 padding:90px 20px 90px 20px;
 font-size: 16px;
 font-weight:600;
}
.footer__container {
 display: flex;
 justify-content: center;
}
.footer__copyright {
  padding-top:40px;
  text-align: center;
  opacity: 0.5;
}
.footer__group {
  padding-right:80px;
}
.footer__group h3 {
font-size:16px;
opacity: 0.7;
margin-bottom: 30px;
}
/*выравниваем ссылки и меняем расположение направления*/
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links a {
  margin-bottom: 15px;
}
